* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', serif;
  font-size: 12px;
  background: white;
  color: black;
  overflow-x: hidden;
}

#__next {
  width: 100vw;
  min-height: 100vh;
}

